body {
    background-image: url("images/bg-mobile.svg");
    background-color: hsl(257, 40%, 49%);
    background-repeat: no-repeat;
    background-size: 57vh;
}

.illustration {
    width: 46vh;
    margin-left: 25px;
    margin-top: 28px;
}

.logo {
    width: 20vh;
    margin: 30px;
}

h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: white;
    font-size: 27px;
    text-align: center;
    margin-top: 60px;
}

p {
    font-family: 'Open sans', sans-serif;
    color: white;
    text-align: center;
    font-size: 18px;
    margin-top: -4px;
}

a {
    color: white;
    text-decoration: none;
}

button {
    color:hsl(257, 40%, 49%);
    background-color: white;
    width: 228px;
    font-size: 14px;
    height: 45px;
    border-radius: 20px;
    border: none;
    margin-left: 60px;
    margin-top: 10px;
    box-shadow: 0 2px 2px 2px #4F3A87;
}

.icons,
.twitter {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 70px;
}

.icons img {
    width: 4.5vh;
}

.twitter {
    margin: 0 10px 0 10px;
}

.attribution {
    margin-top: 40px;
}

button:active,
button:hover {
    background-color: hsl(300, 69%, 71%);
    color: white;
}



@media (min-width:1000px) {
    body {
        background-image: url("images/bg-desktop.svg");
        background-size: 100%;
    }

    .logo {
        width: 35vh;
        margin-left: 70px;
    }

    .illustration {
        width: 100vh;
        margin-left: 70px;
        margin-top: 65px;
    }

    .main {
        display: flex;
        flex-direction: column;
    }

    .img-txt {
        display: flex;
        flex-direction: row;
    }

    .text-btn {
        display: flex;
        flex-direction: column;
        margin-left: 50px;
    }

    .icons {
        float: right;
        margin: 20px;
    }

    .icons img {
        width: 6vh;
    }

    h2 {
        font-size: 40px;
        text-align: left;
    }

    p {
        font-size: 19px;
        text-align: left;
    }

    button {
        margin-left: -5px;
        width: 180px;
        height: 50px;
        border-radius: 25px;
        font-size: 18px;
        box-shadow: 0 4px 4px 4px #4F3A87;
    }
}